---
Checks: '-*,clang-diagnostic-*'
HeaderFilterRegex: '(^|.*/)(src/(api|coordinator|core|dialogs|entities|enums|helpers|managers|models|services|threads|utils|viewmodels|views|widgets)|cmake)/.*'
FormatStyle: file
